.custom-navbar {
    height: 80px;
    /* Cambia el valor según la altura deseada */
    line-height: 80px;
    /* Ajusta la altura de la línea según el valor anterior */
}

@media only screen and (min-width: 601px) {

 nav .nav-wrapper i {
    line-height: 80px;
  }

}